# TestResult
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**test\_name** | **String** | Name of the test | [default to null]
**status** | **String** | Test Status | [default to null]
**message** | **String** | Detail about the test result | [optional] [default to null]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

